body {
    font-family: 'Inter', sans-serif;
    background:#fff;
    color:#000;
}

footer {
    background:#272727;
    color:#fff;
}

/* Make navbar links bigger and bolder */
.navbar-nav .nav-link {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0.5rem 1rem;
}

.navbar-brand img {
    margin-left: 100px;
    max-height: 70px; /* adjust logo size */
}

.navbar-nav {
    margin-right: 100px; /* ensure no extra spacing */
}

.section-pad {
    padding: 6rem 0;
}

.hero-video {
    position: relative;
    height: 100vh; /* fullscreen */
    overflow: hidden;
}

.hero-bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.hero-video .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55); /* semi-transparent overlay */
    z-index: -1;
}

.hero-content {
    position: relative;
    text-align: left;
    left: -400px;
    z-index: 1;
    max-width: 975px;
}

/* .homepage-video-container video { */
/*     width: 100%; */
/*     height: auto; */
/*     object-fit: cover; */
/* } */

.problems-section {
    position: relative;
    min-height: 65vh; /* taller vertical space */
    /* background: rgba(0, 0, 0, 0.7); /\* dark overlay for readability *\/ */
    background-image: url("/assets/images/pacr_rendered_white.png");
    background-size: cover;
    background-position-x: 300px;
    background-position-y: -215px;
    background-repeat: no-repeat;
}

.problems-section::before {
    content: "";
    position: absolute;
    inset: 0;
    /* background: rgba(0, 0, 0, 0.5); /\* subtle transparent overlay *\/ */
    z-index: 0;
}

.problems-section .container {
    position: relative;
    z-index: 1; /* keeps text above overlay */
    text-align: left;
    left: -300px;
}

.stat-box {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.stat-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.4);
}
